{% extends 'base.html' %}

{% block title %}Movie{% endblock %}

{% block content %}
<h1><b>Actor</b></h1><hr>
<table border="1">
<thead>
    <tr>
    <th>Name</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
    </tr>
</thead>
<tbody>
    {% for actor in actor_list %}
    <tr>
    <td>{{ actor.first_name }} {{actor.last_name}}</td>
    <td><a href={% url 'imdb_app:actor_detail' actor.id %}>view</a></td>
    <td><a href={% url 'imdb_app:actor_edit' actor.id %}>edit</a></td>
    <td><a href={% url 'imdb_app:actor_delete' actor.id %}>delete</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>
<div class="row">
  <div class="col-sm-12 mt-4">
    <button type="button" class="btn btn-dark btn-outline-danger" data-toggle="modal" data-target="#Mymodal">Create</button>
  </div>
</div>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div id=Mymodal class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create Actor</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          {{ form.as_p }}
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-dark btn-outline-danger">Submit</button>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}
