{% extends 'base.html' %}

{% block title %}Movie{% endblock %}

{% block content %}
<h1 class="title">
  <b>Movie</b>
  <span id="add-button">
    <button type="button" class="btn btn-dark btn-outline-danger" data-toggle="modal" data-target="#Createmodal">Create</button>
  </span>
</h1>
<hr>
{% for award in award_list %}
  {% if award.kind == 'Movie' %}
    {{ award }}
  {% endif %}
{% endfor %}
<h1 class="title">
  <b>Actor</b>
</h1>
<hr>
{% for award in award_list %}
  {% if award.kind == 'Actor' %}
    {{ award }}
  {% endif %}
{% endfor %}

<form class="award-create-form" action="{% url 'imdb_app:award_create' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div id=Createmodal class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create Award</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          {{ form.as_p }}
          <label for="id_selected" id="label_id_selected">Movie:</label>
          <select id='id_selected' name='selected' required>
            {% for movie in movie_list %}
              <option value="{{movie.id}}">
                {{ movie }}
              </option>
            {% endfor %}
          </select>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-dark btn-outline-danger">Submit</button>
        </div>
      </div>
    </div>
  </div>
</form>

<script type="text/javascript">
  var movieList = [{% for movie in movie_list %}["{{ movie.id }}", "{{ movie }}"], {% endfor %}]
  var actorList = [{% for actor in actor_list %}["{{ actor.id }}", "{{ actor }}"], {% endfor %}]
</script>
{% endblock %}
