{% extends 'base.html' %}

{% block title %}Movie{% endblock %}\

{% block content %}
<!-- Page Content -->
<div class="container">

  <!-- Page Heading -->
  <h1 class="my-4">
    <b>Movie Award</b>
    <span id="add-button">
      <button type="button" class="btn btn-dark btn-outline-danger" data-toggle="modal" data-target="#Createmodal">Create</button>
    </span>
  </h1>
  <div class="row" style="position:relative">
    {% for award in award_list %}
      {% if award.kind == "Movie"%}
        <div class="col-lg-6 mb-4">
          <div class="card bg-dark">
            <img class="card-img" src="https://www.everywoman.com/sites/default/files/decorative-star-with-lamps-on-a-background-of-wall-modern-grungy-picture-id873928690.jpg" alt="Card image">
            <div class="card-img-overlay">
              <h1 class="card-title">{{award.title}}</h1>
              <a href={% url 'imdb_app:award_detail' award.id %} class="btn btn-dark btn-outline-danger">view</a>
              <a href={% url 'imdb_app:award_edit' award.id %} class="btn btn-dark btn-outline-danger">edit</a>
              <button type="button" class="btn btn-dark btn-outline-danger" data-toggle="modal" data-target="#Deletemodal{{forloop.counter}}">Delete</button>
              <form method="post" action="{% url 'imdb_app:award_delete' award.id %}">
                {% csrf_token %}
                <div id="Deletemodal{{forloop.counter}}" class="modal fade" role="dialog">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Delete Award</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
                      <div class="modal-body">
                        <p>Are you sure you want to delete "{{ award }}"?</p>
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-dark btn-outline-danger">Yes</button>
                        <button type="button" class="btn btn-dark btn-outline-danger" data-dismiss="modal">No</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <a href="#" style="position:absolute; bottom:0px; right:0px;">Read more...</a>
      {% endif %}
      {% empty %}
        No award yet
    {% endfor %}
  </div>
  <hr>

  <h1 class="my-4">
    <b>Movie Award</b>
  </h1>
  <div class="row" style="position:relative">
    {% for award in award_list %}
      {% if award.kind == "Actor"%}
        <div class="col-lg-6 mb-4">
          <div class="card bg-dark">
            <img class="card-img" src="http://placehold.it/700x400" alt="Card image">
            <div class="card-img-overlay">
              <h1 class="card-title">{{award.title}}</h1>
              <a href={% url 'imdb_app:award_detail' award.id %} class="btn btn-dark btn-outline-danger">view</a>
              <a href={% url 'imdb_app:award_edit' award.id %} class="btn btn-dark btn-outline-danger">edit</a>
              <button type="button" class="btn btn-dark btn-outline-danger" data-toggle="modal" data-target="#Deletemodal{{forloop.counter}}">Delete</button>
              <form method="post" action="{% url 'imdb_app:award_delete' award.id %}">
                {% csrf_token %}
                <div id=Deletemodal{{forloop.counter}} class="modal fade" role="dialog">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Delete Award</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
                      <div class="modal-body">
                        <p>Are you sure you want to delete "{{ award }}"?</p>
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-dark btn-outline-danger">Yes</button>
                        <button type="button" class="btn btn-dark btn-outline-danger" data-dismiss="modal">No</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <a href="#" style="position:absolute; bottom:0px; right:0px;">Read more...</a>
      {% endif %}
    {% endfor %}
  </div>
</div>


<form class="award-create-form" action="{% url 'imdb_app:award_create' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div id=Createmodal class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create Award</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          {% for field in form %}
              <div class="control-group">
                  <strong>{{ field.label_tag }}</strong>
                  <div class="controls">
                    {{ field }}
                    <span class="error-input">
                      {{ field.errors }}
                    </span>
                  </div>
              </div>
          {% endfor %}
          <label for="id_selected" id="label_id_selected"></label>
          <select id='id_selected' name='selected' required></select>
          <script type="text/javascript">
            document.addEventListener("DOMContentLoaded", function() {
              showData();
            });
          </script>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-dark btn-outline-danger">Submit</button>
        </div>
      </div>
    </div>
  </div>
</form>

<script type="text/javascript">
  var movieList = [{% for movie in movie_list %}["{{ movie.id }}", "{{ movie }}"], {% endfor %}]
  var actorList = [{% for actor in actor_list %}["{{ actor.id }}", "{{ actor }}"], {% endfor %}]
</script>
{% endblock %}
