{% extends 'base.html' %}

{% block title %}Movie{% endblock %}

{% block content %}
<h1 title="title">
  <b>Movie</b>
  <span id="add-button">
    <button type="button" class="btn btn-dark btn-outline-danger" data-toggle="modal" data-target="#Createmodal">Create</button>
  </span>
</h1><hr>
<table border="1">
<tbody>
    {% for movie in movie_list %}
    <tr>
    <td>{{ movie.title }}</td>
    <td><a href={% url 'imdb_app:movie_detail' movie.id %} class="btn btn-dark btn-outline-danger">view</a></td>
    {% if user.is_superuser or user.is_staff or user.username == movie.author%}
    <td><a href={% url 'imdb_app:movie_edit' movie.id %} class="btn btn-dark btn-outline-danger">edit</a></td>
    <td><button type="button" class="btn btn-dark btn-outline-danger" data-toggle="modal" data-target="#Deletemodal">Delete</button><td>
    {% endif %}
    </tr>
    <form method="post" action='{% url "imdb_app:movie_delete" movie.id %}'>
      {% csrf_token %}
      <div id=Deletemodal class="modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Delete Movie</h5>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete "{{ movie }}"?</p>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-dark btn-outline-danger">Yes</button>
              <button type="button" class="btn btn-dark btn-outline-danger" data-dismiss="modal">No</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  {% empty %}
    No movies yet.
  {% endfor %}
</tbody>
</table>


<form method="post" action='{% url "imdb_app:movie_create"%}' enctype="multipart/form-data">
  {% csrf_token %}
  <div id=Createmodal class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create Movie</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          {{ form.as_p }}
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-dark btn-outline-danger">Submit</button>
        </div>
      </div>
    </div>
  </div>
</form>
<hr>
<div class="page-navigator">
  {% if page_obj.has_other_pages %}
    {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.paginator.page_range.0 }}"> << </a>
      <a href="?page={{ page_obj.previous_page_number }}"> <  </a>
    {% endif %}
    {{ page_obj.number }}
    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}"> > </a>
      <a href="?page={{ page_obj.paginator.num_pages }}"> >> </a>
    {% endif %}
  {% endif %}
</div>
{% endblock %}
