{% extends 'base.html' %}

{% block title %}Movie{% endblock %}

{% block content %}
<h1><b>Movie</b></h1><hr>
{% for movie in movie_list %}
  <li>{{ movie }}</li>
{% endfor %}
  <div class="row">
    <div class="col-sm-12 mt-4">
      <button type="button" class="btn btn-dark btn-outline-danger" data-toggle="modal" data-target="#Mymodal">Create</button>
    </div>
  </div>

  <form method="post">
    {% csrf_token %}
    <div id=Mymodal class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Create Movie</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            {{ form.as_p }}
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-dark btn-outline-danger">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
