{% extends 'base.html' %}

{% block title %}{{ movie }}{% endblock %}

{% block content %}
<div class="container">

  <!-- Portfolio Item Heading -->
  <h1 class="my-4">{{movie.title}}
    <small>({{ movie.release_date|date:"Y" }})</small>
  </h1>
  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-8">
      <img class="img-fluid" src="{{ movie.image.url }}" alt="movie" style="height:650px;width:auto;justify-items:center">
    </div>

    <div class="col-md-4">
      <h3 class="my-3">Movie Description</h3>
      <p>{{movie.description}}</p>
      <h3 class="my-3">Movie Details</h3>
      <ul>
        <li>Release Date: {{movie.release_date}}</li>
        <li>
          Actors:
          {% for actor in actors %}
            {{actor.get_name}}
          {% endfor %}
        </li>
        <li>Consectetur</li>
        <li>Adipiscing Elit</li>
      </ul>
    </div>

  </div>
</div>
{% endblock %}
