/* Set body background attribute */
/* base.html */
body {
  background-attachment: fixed;
  background-size: cover;
}


/* Set background color of container to white */
/* base.html */
.page-background {
  background-color: white;
}


/* Resize navigation bar logo */
/* base.html */
#logo {
  height: 40px;
  weight: 40px;
}


/* Change text next to logo */
/* base.html */
.navbar-brand b {
  font-size: 15px;
  color: #fff;
  font-family: 'Source Code Pro', monospace;
}


/* Resize user dropdown menu */
/* base.html */
.dropdown-menu b {
  font-size: 15px;
}


/* Change color user dropdown menu */
/* base.html */
.dropdown-menu b,
.nav-link b {
  color: #abb7c4;
}


/* Change text color when hover to text in navigation bar */
/* base.html */
.dropdown-item:hover b,
.nav-link:hover b {
  color: rgb(220, 248, 54);
}


/* login.html */
@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
.login-block{
    background: #DE6262;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FFB88C, #DE6262); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    float:left;
    width:100%;
    padding : 50px 0;
}
.login-item{background:#fff; border-radius: 10px}
.carousel-inner{border-radius:0 10px 10px 0; height: auto;}
.carousel-caption{text-align:left; left:5%;}
.login-sec{padding: 50px 30px; position:relative;}
.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
.login-sec .copy-text i{color:#FEB58A;}
.login-sec .copy-text a{color:#E36262;}
.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #DE6262;}
.login-sec h2:after{content:" "; width:100px; height:5px; background:#FEB58A; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.banner-text{width:70%; position:absolute; bottom:40px; padding-left:20px;}
.banner-text h2{color:#fff; font-weight:600;}
.banner-text h2:after{content:" "; width:100px; height:5px; background:#FFF; display:block; margin-top:20px; border-radius:3px;}
.banner-text p{color:#fff;}


/* Change color of error input */
/* signup.html */
.form-horizontal .error-input {
  color: red;
  font-weight: bold;
  font-size: 15px;
}


/* Adjust the register button */
/* signup.html */
.form-horizontal .btn {
  margin: 20px 0;
}


/* Shift create button to the right of container */
/* movie_page.html, actor_page.html, award_page.html */
#add-button {
  float: right;
}


/* Adjust position for and center text for movie or acter */
/* movie_page.html, actor_page.html, award_page.html */
.object {
  position:relative;
  text-align: center;
}


/* Set the image size of movie poster or actor poster */
/* movie_page.html, actor_page.html */
.object-image {
  width: 214px;
  height: 317px;
}

/* Adjust position of edit and delete button parent div */
/* Hide the button-set */
/* movie_page.html, actor_page.html */
.object > .button-set {
  position: absolute;
  width: inherit;
  height: inherit;
  top:30%;
  left: 15%;
  text-align: center;
  display: none;
}


/* Adjust position of edit button */
/* movie_page.html, actor_page.html */
.object .button-set .edit-btn {
  position: absolute;
  top: 145px;
  left: 35px;
  transform: translate(-50%, -50%);
}


/* Adjust position of delete button */
/* movie_page.html, actor_page.html */
.object .button-set .delete-btn {
  position: absolute;
  top: 145px;
  left: 120px;
  transform: translate(-50%, -50%);
}


/* If hover on movie or actor image => decrease opacity of the image */
/* movie_page.html, actor_page.html */
.object:hover > img {
  opacity: 0.7;
}


/* If hover on image or button-set or title name, show button set */
/* movie_page.html, actor_page.html */
.object > img:hover + .button-set,
.button-set:hover,
.object  .button-set  .title-link
{
  display: inline-block;
}


/* Adjust title name div */
/* movie_page.html, actor_page.html */
.object  .button-set  .title-link {
  position: absolute;
  width: 214px;
  height: 50px;
  color: white;
  font-weight: bold;
  align-items: center;
  top: 195px;
  left: 75px;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0, 0.8);
}


/* Adjust width and height of item div */
/* movie_page.html, actor_page.html */
.item {
  width: 214px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}


/* Resize object title and icon */
/* movie_detail.html, actor_detail.html */
.object-detail #title {
  font-weight: bold;
  font-size: 40px;
}


/* Change object icon color */
/* movie_detail.html, actor_detail.html */
.object-detail #title .fas {
  color: #e05235;
}


/* Change size of the year in title */
/* movie_detail.html, actor_detail.html */
.object-detail #title #object-information-year {
  font-weight: bold;
  font-size: 25px;
}


/* Change color of small descriptions bellow title */
/* movie_detail.html, actor_detail.html */
.object-detail .object-information small,
.object-detail .object-information small a {
  color: grey;
}


/* Adjust object poster position */
/* movie_detail.html, actor_detail.html */
.object-detail .img-fluid {
  width: auto;
  height:350px;
  margin: 0 auto;
  display: block;
}


/* Adjust the actor image */
/* actor_detail.html */
.object-detail .actor-img {
  margin-top: 25px;
}


/* Adjust the description of object */
/* movie_detail.html, actor_detail.html */
.description {
  margin-top: 40px;
}


/* Change element of the comment wrapper */
/* movie_detail.html, actor_detail.html */
.comment-wrapper {
  border-radius: 4px;
  margin: 75px 0;
  border: 1px solid #bce8f1;
}

/* Give background color for the Comment heading */
/* movie_detail.html, actor_detail.html */
.comment-wrapper .panel .panel-heading {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}


/* Adjust padding for comment body box */
/* movie_detail.html, actor_detail.html */
.comment-wrapper .panel-body {
  padding: 10px 20px;
}


/* Adjust the avatar of user in comment section */
/* movie_detail.html, actor_detail.html */
.comment-wrapper .media-list .media img {
    width: 64px;
    height: 64px;
    border: 2px solid #e5e7e8;
    border-radius: 50%;
    margin: 0 25px 25px 0;
}


/* Give dashed under every comment */
/* movie_detail.html, actor_detail.html */
.comment-wrapper .media-list .media {
    border-bottom: 1px dashed #efefef;
    margin: 25px;
}


/* Shift Post button to the right */
/* movie_detail.html, actor_detail.html */
.comment-wrapper .post-button,
.comment-wrapper .text-muted {
  float:right;
}


/* Center page navigator */
/* movie_page.html, actor_page.html */
.page-navigator {
  text-align: center;
}


/* home.html */
.home-page {
  padding: 380px 0;
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  background-image: url(https://cafart.r.worldssl.net/images/Category_77317/subcat_121652/AvengersCovers.JPG);
  background-size: cover;
}


/* home.html */
.home-page-title {
  width: 75%;
  height: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 254, 239, 0.8);
  background-blend-mode: screen;
}
