<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <!--  Font  -->
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">

    <!--  CSS  -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--  JavaScript -->
    <script type="text/javascript" src="{% static 'my_script.js' %}"></script>

  </head>

  <body background="{% static 'movies_background.jpg' %}">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <div class="container">
        <a href="{% url 'home' %}" class="navbar-brand">
          <img id="logo" src="{% static 'intek_logo.png' %}" alt="logo"><b>INTEK IMDB</b>
        </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'imdb_app:movie' %}"><b>Movies</b></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'imdb_app:actor' %}"><b>Actors</b></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'imdb_app:award' %}"><b>Awards</b></a>
              </li>
            </ul>
            {% if user.is_authenticated %}
            <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                  {% if not user.is_superuser %}
                    <img src="{{ user.avatar.url }}" width="45px" height="45px" style="border-radius: 50%;">
                    <b>Hello, {{ user.first_name }}</b>
                  {% else %}
                    <b>Hello, handsome</b>
                  {% endif %}
                </a>
                <div class="dropdown-menu navbar-light bg-dark">
                  <a class="dropdown-item bg-dark" href="#"><b>Edit Profile</b></a>
                  <a class="dropdown-item bg-dark" href="{% url 'logout' %}"><b>Logout</b></a>
              </div>
              </li>
            </ul>
            {% endif %}
          </div>
        </div>
      </nav>
        <div class="container page-background">
          {% block content %}
          {% endblock %}
        </div>
        {% block homepage %}
        {% endblock %}
    <footer>Copyright © 2019 Thinh and Bao</footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
